.App-header {
    text-align: start;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    position: relative;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-bottom: 4px;



}

.logout_style {
    display: flex;
    /* margin-left: 2px; */
    margin-right: 5px;
    position: absolute;
    top: 1px;
    right: 1px;
    color: green;
    background-color: aqua;
}

.button_preview{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    filter: blur(39px);
    pointer-events: none;
}

.construction-message {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 991;
    /* animation: jump 1s ease infinite; */
    /* color: orangered; */
    background-image: linear-gradient(to right, orangered 50%, rgb(93, 93, 209) 50%);
    padding: 5px;
    border-radius: 5px;
    /* animation: alternate 2s infinite; */
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


/* @keyframes jump {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  } */

  @keyframes jump {
    0%, 10%, 0%, 90%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

  @keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
  }

  .show-content {
    filter: none; /* Remove the blur effect */
    pointer-events: auto; /* Enable pointer events on the content */
  }


  .Test_btn {
    position: absolute;
    color: red;
    top: 12px;
  }